<!-----This file also contains the address Autocomplete function by Google Maps API-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>HEADER</title>
  </head>
  <body>
    <!-----Autocomplete Feature Address Google maps-->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_API %>&libraries=places&callback=initAutocomplete"
      async
      defer
    ></script>

    <%-include('../partials/header')%>

    <!---Include Modals to use-->
    <%- include('../modals/loginRequiredModal') %>
    <%- include('../modals/loginModal') %>
    <%- include('../modals/registerModal') %>
    <%-include('../modals/contactModal')%>

    <main>
      <%- body %>
      <!-- The page-specific content will be injected here -->
    </main>

    <%-include('../partials/footer')%>



    <script>
     const user = <%- JSON.stringify(user || null) %>;
      //Google Maps Autocomplete Initialization
        function initAutocomplete() {
          console.log("Autocomplete initialized");
          const input = document.getElementById("location");
          const options = {
            types: ["geocode"],
            componentRestrictions: { country: "ca" },
          };
          const autocomplete = new google.maps.places.Autocomplete(
            input,
            options
          );

          autocomplete.addListener("place_changed", function () {
            const place = autocomplete.getPlace();
            if (place.geometry){

            document.getElementById("lat").value = place.geometry.location.lat();
            document.getElementById("lng").value = place.geometry.location.lng();
            } else {
              console.error("No geometry found for the selected place.");
            }
          });


        }

      //Payment Processing

      const button1= document.getElementById("donate-25");
      const button2= document.getElementById("donate-50");
      const button3= document.getElementById("donate-100");
      const customAmountInput = document.getElementById("custom-amount");
      const donateButton = document.getElementById("donate-button");

      document.addEventListener("DOMContentLoaded", function() {
          button1.addEventListener("click", function() {
             customAmountInput.value=25;
          });
          button2.addEventListener("click", function() {
              customAmountInput.value=50;
          });
          button3.addEventListener("click", function() {
              customAmountInput.value=100;
          });


      donateButton.addEventListener("click", function(){



          const amount= customAmountInput.value;
          const amountIncents=Math.round(parseFloat(amount) * 100); // Convert to cents
             fetch("/create-checkout-session", {
                  method: "POST",
                  headers: {
                      "Content-Type": "application/json",
                  },
        // Send along all the information about the items
                  body: JSON.stringify({ amount: amountIncents }) // Convert to cents

          })
        .then(res => {
          if (res.ok) return res.json()
          // If there is an error then make sure we catch that
          return res.json().then(e => Promise.reject(e))
        })
        .then(({ url }) => {
          // On success redirect the customer to the returned URL
          window.location = url
        })
        .catch(e => {
          console.error(e.error)
        })
      })

      });
    </script>
  </body>
</html>